<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Alexandria Riggio</title>
	<link href="https://fonts.googleapis.com/css?family=Catamaran:200|Karla" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div class="header">
		<h1>Alexandria Riggio</h1>
	</div>
	<div class="nav">
		<ul>
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Blog</a></li> <!--Use Photography.html as reference -->
			<li><a href="#">Contact Me</a></li>
		</ul>
	</div>
	<div class="bar"></div>
	
	<div class="main">
	</div>
	<div class="bar"></div>
	
	<div class="footer">
		<p>&copy; Copyright 2017</p>
	</div>
	
</body>
</html>